.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.footer-content {
    display: flex;
    gap: 2rem;
    a {
        text-decoration: none;
        color: black;
        font-weight: 700;
   }

}