@media screen and (max-width: 936px) {
    .hero-text {
        align-items: center;
    }
    .main-scetion {
        align-items: baseline;
        gap: 1rem;
    }
    .img-text-container {
        flex-direction: column-reverse;
        gap: 2rem;
        img {
            width: 14vw;
            height: 50vh;
            padding-left: 2rem;
        }

    }

    .mobile-container {
        flex-direction: row;
        padding: 3rem 3rem;
        gap: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .to-do-list-container {
        justify-content: center;
        grid-template-columns: repeat(2, 35%);
        column-gap: 5rem;
        row-gap: 10rem;
        
    } 
    .mobile-container {
        justify-content: center;
        padding: 3rem 3rem;
        gap: 2rem;
        width: 100%;
    }
    .mobile-text {
        width: 100%;
        align-items: center;
    }
    
}

@media screen and (max-width: 750px) {
    .to-do-list-container {
        grid-template-columns: 80%;
        grid-template-rows: auto-fit;
    }
    .img-text-container {
        display: flex;
        width: 100%;
        gap: 1rem;
        img {
            display: none;
        }
    }
    .main-scetion {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        width: 100%;
        gap: 3rem;
    }
    .img-text {
        align-items: center;
        .first-text {
            font-size: 3vw;
            font-weight: 900;
            
            
        }
        .sec-text {
            font-size: 3vw;
            font-weight: 900;
            color: #2f8be0;
        }
    } 
    
    
    .reason-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        font-weight: bold;
    
    }
} 

@media screen and (max-width: 510px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .side-nav {
        gap: .5rem;
    }
    .main-scetion {
        margin-top: 2rem;
        width: 100%;
        padding: 0 2rem;
    }

    .to-do-container {
        margin-top: 1.5rem;
        gap: 8rem;
    }
    .header {
        font-size: 3vw;
        font-weight: 900;
    }
    .to-do-list-container {
        grid-template-columns: 80%;
        grid-template-rows: auto-fit;
    }
    .img {
        width: 7rem;
        position: absolute;
        top: -4rem;
        right:-1.5rem ;
    }
    .mobile-container {
        padding: 3rem;
    }
    .mobile-text {
        width: 100%;
        align-items: center;
        img {
            width: 8rem;
        }
    }
    .footer {
        padding: 1rem;
    }

    .footer-content {
        display: flex;
        gap: 1rem;
    }   

    
    

}