.mobile-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 5rem 9rem;
    background-color: #ffce63;
    margin-top: 4rem;
    align-items: center;
    width: 100%;
}
.mobile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    img {
        width: 10rem;
        min-width: 8rem
    }
    p {
        font-size: 1.2rem;
    }
}
.mobile-img {
    width: 20rem;
}